@model IEnumerable<TrashPickup.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Welcome @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().FirstName </h2>

<h4>Customer Menu</h4>

<p>
    @Html.ActionLink("Change Pickup Day", "ChangePickupDay")
</p>

<p>
    @Html.ActionLink("View Amount Owed", "ViewAmountOwed")
</p>

<p>
    @Html.ActionLink("Set Vacation Day", "SetVacationDay")
</p>


<h2>My Information</h2>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>        
        <th>
            Area Code
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Role
        </th>
        <th>
            Day of Week           
        </th>
        <th>
            Email
        </th>
        <th>
            Email Confirmed
        </th>        
        <th>
            Phone Number
        </th>
        <th>
            Phone number confirmed
        </th>        
        <th>
            UserName
        </th>
        <th></th>
    </tr>
   
    <tr>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().FirstName
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().LastName
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().Address
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().AreaCode
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().City
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().State
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().UserRoles
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().DayOfWeek
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().Email
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().EmailConfirmed
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().ContactNumber
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().PhoneNumberConfirmed
        </td>
        <td>
            @Model.Where(item => item.UserName == User.Identity.GetUserName()).First().UserName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit")
            @Html.ActionLink("Details", "Details")
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
    

</table>